@import url("../../global.css");

.background{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1800' height='900' preserveAspectRatio='none' viewBox='0 0 1800 900'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1008%26quot%3b)' fill='none'%3e%3crect width='1800' height='900' x='0' y='0' fill='rgba(86%2c 26%2c 217%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c618.817C129.467%2c624.152%2c280.929%2c674.751%2c379.845%2c591.051C480.108%2c506.211%2c438.269%2c343.02%2c474.97%2c216.911C505.038%2c113.592%2c573.94%2c24.776%2c575.953%2c-82.81C578.185%2c-202.073%2c549.092%2c-320.119%2c486.925%2c-421.922C417.396%2c-535.78%2c331.873%2c-656.758%2c203.434%2c-692.833C75.254%2c-728.835%2c-52.712%2c-651.689%2c-178.79%2c-608.902C-299.509%2c-567.934%2c-430.384%2c-541.502%2c-517.296%2c-448.24C-605.579%2c-353.506%2c-665.239%2c-223.908%2c-658.058%2c-94.614C-651.251%2c27.949%2c-531.019%2c107.561%2c-480.222%2c219.31C-429.296%2c331.344%2c-454.852%2c481.847%2c-360.245%2c560.552C-264.799%2c639.956%2c-124.052%2c613.705%2c0%2c618.817' fill='%234114a5'%3e%3c/path%3e%3cpath d='M1800 1475.7910000000002C1908.786 1462.787 2013.31 1434.539 2106.449 1376.843 2200.753 1318.425 2279.932 1240.6190000000001 2335.048 1144.348 2393.994 1041.387 2427.754 927.799 2431.4210000000003 809.215 2435.619 673.455 2448.691 517.586 2357.541 416.888 2266.476 316.284 2109.694 319.336 1974.783 304.745 1859.346 292.26 1739.522 287.77599999999995 1635.2069999999999 338.76599999999996 1538.531 386.023 1485.241 485.685 1423.838 574.054 1368.699 653.407 1324.894 735.392 1295.622 827.481 1261.229 935.682 1212.923 1045.753 1238.759 1156.31 1266.8310000000001 1276.434 1335.342 1395.1779999999999 1442.549 1456.205 1548.397 1516.458 1679.065 1490.2469999999998 1800 1475.7910000000002' fill='%237845e9'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1008'%3e%3crect width='1800' height='900' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: center;
    gap: 35px;
    padding-top: 45px;
    padding-bottom: 45px;
}

.images-container{
    display: flex;
    width: 100%;
    height: 100%;
    max-width: 400px;
    max-height: 400px;
}

.text-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    justify-content: center;
    align-self: stretch;
    padding-left: 30px;
}

.text-container h2 {
    color: white;
    font-weight: bold;
    font-family: var(--font-family-title);
}

.text-container h3 {
    display: flex;
    gap: 10px;
    color: white;
    font-family: var(--font-family-general);
    line-height: normal;
    font-style: normal;
    font-weight: 400;
}

.benefits-container{
    display: flex;
    padding: 15px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
}

.benefits{
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
    justify-content: center;
    margin-top: auto; 
}

.benefits h4 {
    color: white;
    font-family: var(--font-family-general);
    font-weight: bold;
    line-height: normal;
    font-style: normal;
    font-weight: 400;
}

.benefits .icon{
    width: 23px;
    height: 23px;
    color: white;
}

.soport-container{
    display: flex;
    padding: 5px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 5px;
    align-self: stretch;
}

.soport{
    display: flex;
    flex-direction: row;
    gap: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    align-items: center;
    justify-content: center;
    margin-top: auto; 
}

.soport h4 {
    color: white;
    font-family: var(--font-family-general);
    font-weight: bold;
    line-height: normal;
    font-style: normal;
    font-weight: 400;
}

.img-plans{
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 904px){
    .background{
        padding: 32px;
    }
}

@media (max-width: 768px ) {
   .images-container{
       display: none;
   }
}

@media screen and (max-width: 599px){
    .background{
        padding: 16px;
    }

    .benefits-container{
        padding: 0px;
    }
    
}

.benefits p {
    white-space: normal;
    color: aliceblue;
  }