@import url("../../global.css");

.TableCompare-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-right: 100px;
    padding-left: 100px;
  padding-top: 66px;
  padding-bottom: 66px;
  width: 100%;
  height: auto;
  background: linear-gradient(90deg, #733EE8 0%, #561AD9 100%);
}
.tittle-text-table{
    color: var(--White, #FFF);
    text-align: center;
    font-family: var(--font-family-title);
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.tittle-benefits{
    font-family: var(--font-family-general);
    font-size: 31.25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.table-container{
    display: flex;
    width: 100%;
    padding-top: 35px;
    padding-bottom: 35px;
    justify-content: center;
    align-items: center;
    align-items:start;
    flex-direction: row;
    margin: 0;
    gap: 10px;
}

.row-container{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    padding-bottom: 0px;
    margin: 0;
    width: 100%;
}

.box-content-top{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: white;
    height: 100px;
    width: 100%;
    min-width: 100px;
    padding-left: 10px;
    padding-right: 10px;
    gap: 5px;
    position: relative;
    margin: 0;
}

.box-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: white;
    height: 70px;
    width: 100%;
    min-width: 100px;
    padding-left: 10px;
    padding-right: 10px;
    gap: 5px;
    position: relative;
    margin: 0;
}

.box-benefit{
    min-width: 400px;
}

.text-benefit{
    width: 400px;
    align-items: flex-start;
    
}

.text-container-price{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 57.843px;
}

.text-price-table{
    font-family: Poppins;

font-style: normal;
font-weight: 700;
line-height: normal;    
}

.divisor-line{
    top: 0px;
    position: absolute;
    width: 85%;
    height: 1px;
    background: var(--Black-light-letter, #8C8C8C);
}

.icon-check{
    color: #9DD91A;
    width: 25px;
    height: 25px;
}

.icon-check-negative{
    color: #FE2C55;
    width: 25px;
    height: 25px;
}

.row-boxes-benefits{
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
}

.column-price{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

@media screen and (max-width: 1328px){
   .text-benefit{
       width: 300px;
   }  
}

@media screen and (max-width: 1160px){
    .text-benefit{
        width: 220px;
    }
    .box-content-top{
        min-width: 90px;
   }

   .box-content{
         min-width: 90px;
   }
}

@media screen and (max-width: 1024px){
    .text-benefit{
        width: 190px;
    }
    .table-container{
        gap: 5px;
    }
}

@media screen and (max-width: 958px){
    .box-content-top{
        display: none;
    }

    .column-benefit{
        display: block;
    }

    .text-benefit{
        width: 100%;
    }
}
