.benefit-section {
    display: flex;
    height: auto;
    justify-content: center;
    background: linear-gradient(90deg, #733EE8 0%, #561AD9 100%);
    color: white;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%; /* Asegúrate de que ocupe el ancho completo */
}

.parallax-section-benefit {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex: 1 0 100%;
    align-self: stretch;
    position: relative;
    overflow: hidden;
    max-width: none; /* Asegúrate de que no tenga un ancho máximo */
    z-index: 1; /* Establece un índice z alto para que esté por encima del background */
}

.background-image-benefit {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover; /* O background-size: 100% 100%; */
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: 0; /* Establece un índice z más bajo para que esté detrás del contenido */
}

.container-row-benefit {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.container-botton-benefit {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 25px;
    justify-content: center;
}

.box-advantage-benefit {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 30px 30px;
}

.benefit-section h4 {
    width: 100%;
    text-align: center;
}

.button-container-benefit {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 959px) {
    .box-advantage-benefit {
        padding: 20px 15px;
    }
}

@media screen and (max-width: 719px) {
    .container-row-benefit {
        flex-direction: column;
        gap: 0px;
    }

    .box-advantage-benefit {
        max-width: none;
        padding: 15px 15px;
    }

    .benefit-section h5 {
        text-align: center;
    }

    .benefit-section p {
        text-align: center;
        max-width: 500px;
    }
}
