@import url("../../global.css");
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@900&display=swap');

.animation-cover-background{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1001%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(102%2c 36%2c 131%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c675.637C125.178%2c665.582%2c237.468%2c600.681%2c335.98%2c522.796C427.724%2c450.262%2c514.112%2c361.035%2c541.68%2c247.377C567.534%2c140.789%2c486.469%2c40.515%2c479.51%2c-68.943C471.663%2c-192.365%2c579.222%2c-338.259%2c498.491%2c-431.945C417.833%2c-525.546%2c256.001%2c-433.336%2c136.964%2c-466.456C20.595%2c-498.834%2c-62.174%2c-632.391%2c-182.463%2c-621.41C-304.33%2c-610.285%2c-418.06%2c-519.549%2c-473.959%2c-410.688C-527.359%2c-306.695%2c-454.72%2c-183.402%2c-467.069%2c-67.154C-478.743%2c42.738%2c-559.954%2c139.077%2c-543.977%2c248.426C-525.63%2c373.998%2c-472.36%2c501.325%2c-372.555%2c579.707C-269.618%2c660.549%2c-130.467%2c686.116%2c0%2c675.637' fill='%23521d69'%3e%3c/path%3e%3cpath d='M1440 1166.841C1553.879 1153.5529999999999 1665.57 1122.575 1757.609 1054.21 1845.991 988.5609999999999 1899.436 890.848 1945.924 791.048 1992.721 690.5840000000001 2024.613 586.382 2027.141 475.582 2030.038 348.615 2057.956 190.735 1961.5059999999999 108.113 1862.263 23.097999999999956 1707.9279999999999 102.72699999999998 1577.808 90.66699999999997 1478.797 81.49000000000001 1387.495 32.05200000000002 1289.013 45.78499999999997 1180.402 60.93099999999998 1071.098 95.75799999999998 992.549 172.281 910.86 251.863 863.14 361.852 848.481 474.952 833.937 587.1610000000001 874.819 694.3820000000001 910.982 801.595 951.126 920.61 967.5319999999999 1062.978 1070.893 1134.341 1174.634 1205.966 1314.785 1181.452 1440 1166.841' fill='%237a2b9d'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1001'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

.cover-container-background {
  display: flex;
  height: calc(100vh - 80px);
  width: 100%;
  max-height: 1080px;
  min-height: 830px;

  position: relative;
  background-size:cover;
  background-position: center;
  color: #fff;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1001%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(102%2c 36%2c 131%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c675.637C125.178%2c665.582%2c237.468%2c600.681%2c335.98%2c522.796C427.724%2c450.262%2c514.112%2c361.035%2c541.68%2c247.377C567.534%2c140.789%2c486.469%2c40.515%2c479.51%2c-68.943C471.663%2c-192.365%2c579.222%2c-338.259%2c498.491%2c-431.945C417.833%2c-525.546%2c256.001%2c-433.336%2c136.964%2c-466.456C20.595%2c-498.834%2c-62.174%2c-632.391%2c-182.463%2c-621.41C-304.33%2c-610.285%2c-418.06%2c-519.549%2c-473.959%2c-410.688C-527.359%2c-306.695%2c-454.72%2c-183.402%2c-467.069%2c-67.154C-478.743%2c42.738%2c-559.954%2c139.077%2c-543.977%2c248.426C-525.63%2c373.998%2c-472.36%2c501.325%2c-372.555%2c579.707C-269.618%2c660.549%2c-130.467%2c686.116%2c0%2c675.637' fill='%23521d69'%3e%3c/path%3e%3cpath d='M1440 1166.841C1553.879 1153.5529999999999 1665.57 1122.575 1757.609 1054.21 1845.991 988.5609999999999 1899.436 890.848 1945.924 791.048 1992.721 690.5840000000001 2024.613 586.382 2027.141 475.582 2030.038 348.615 2057.956 190.735 1961.5059999999999 108.113 1862.263 23.097999999999956 1707.9279999999999 102.72699999999998 1577.808 90.66699999999997 1478.797 81.49000000000001 1387.495 32.05200000000002 1289.013 45.78499999999997 1180.402 60.93099999999998 1071.098 95.75799999999998 992.549 172.281 910.86 251.863 863.14 361.852 848.481 474.952 833.937 587.1610000000001 874.819 694.3820000000001 910.982 801.595 951.126 920.61 967.5319999999999 1062.978 1070.893 1134.341 1174.634 1205.966 1314.785 1181.452 1440 1166.841' fill='%237a2b9d'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1001'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

.cover-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1400px;
}

.spline-cover-one {
  position: absolute;
  width: 700px;
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 700px;
}

.image-cover{
  width: 600px;
  height: 500px;
  object-fit: contain;
  object-position: center;
}

.cover-sub-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.cover-sub-container.left {
  align-items: first baseline;
}

.slogan-cover {
  font-family: 'Mulish', sans-serif;
  font-size: 64px !important;
  margin-bottom: 10px;
  font-weight: 900;
}

.slogan-cover .main-word {
  font-size: 4vw;
  background: linear-gradient(90deg, #F2A5FF 0%, #B800EB 20%, #662483 37.5%, #561AD9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.paragraph-slogan-cover {
  font-size: 2vw;
  line-height: 35px;
}

.sign-up-cover {
  display: flex;
  width: 300px;
  height: 60px;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  border: 1px solid #fff;
  margin-top: 40px;
  text-decoration: none;
  color: #fff;
  font-size: 24px;
}

.sign-up-cover:hover {
  background-color: #fff;
  color: #662483;
}

.cover-sub-container canvas{
  max-width: 600px;
}


@media screen and (max-width: 1328px){
  .cover-container-background{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1001%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(102%2c 36%2c 131%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c675.637C125.178%2c665.582%2c237.468%2c600.681%2c335.98%2c522.796C427.724%2c450.262%2c514.112%2c361.035%2c541.68%2c247.377C567.534%2c140.789%2c486.469%2c40.515%2c479.51%2c-68.943C471.663%2c-192.365%2c579.222%2c-338.259%2c498.491%2c-431.945C417.833%2c-525.546%2c256.001%2c-433.336%2c136.964%2c-466.456C20.595%2c-498.834%2c-62.174%2c-632.391%2c-182.463%2c-621.41C-304.33%2c-610.285%2c-418.06%2c-519.549%2c-473.959%2c-410.688C-527.359%2c-306.695%2c-454.72%2c-183.402%2c-467.069%2c-67.154C-478.743%2c42.738%2c-559.954%2c139.077%2c-543.977%2c248.426C-525.63%2c373.998%2c-472.36%2c501.325%2c-372.555%2c579.707C-269.618%2c660.549%2c-130.467%2c686.116%2c0%2c675.637' fill='%23521d69'%3e%3c/path%3e%3cpath d='M1440 1166.841C1553.879 1153.5529999999999 1665.57 1122.575 1757.609 1054.21 1845.991 988.5609999999999 1899.436 890.848 1945.924 791.048 1992.721 690.5840000000001 2024.613 586.382 2027.141 475.582 2030.038 348.615 2057.956 190.735 1961.5059999999999 108.113 1862.263 23.097999999999956 1707.9279999999999 102.72699999999998 1577.808 90.66699999999997 1478.797 81.49000000000001 1387.495 32.05200000000002 1289.013 45.78499999999997 1180.402 60.93099999999998 1071.098 95.75799999999998 992.549 172.281 910.86 251.863 863.14 361.852 848.481 474.952 833.937 587.1610000000001 874.819 694.3820000000001 910.982 801.595 951.126 920.61 967.5319999999999 1062.978 1070.893 1134.341 1174.634 1205.966 1314.785 1181.452 1440 1166.841' fill='%237a2b9d'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1001'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  }

  .spline-cover-one{
    max-width: 600px;
  }
}

@media screen and (max-width : 1024px) {
  .cover-container-background{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1001%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(102%2c 36%2c 131%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c675.637C125.178%2c665.582%2c237.468%2c600.681%2c335.98%2c522.796C427.724%2c450.262%2c514.112%2c361.035%2c541.68%2c247.377C567.534%2c140.789%2c486.469%2c40.515%2c479.51%2c-68.943C471.663%2c-192.365%2c579.222%2c-338.259%2c498.491%2c-431.945C417.833%2c-525.546%2c256.001%2c-433.336%2c136.964%2c-466.456C20.595%2c-498.834%2c-62.174%2c-632.391%2c-182.463%2c-621.41C-304.33%2c-610.285%2c-418.06%2c-519.549%2c-473.959%2c-410.688C-527.359%2c-306.695%2c-454.72%2c-183.402%2c-467.069%2c-67.154C-478.743%2c42.738%2c-559.954%2c139.077%2c-543.977%2c248.426C-525.63%2c373.998%2c-472.36%2c501.325%2c-372.555%2c579.707C-269.618%2c660.549%2c-130.467%2c686.116%2c0%2c675.637' fill='%23521d69'%3e%3c/path%3e%3cpath d='M1440 1166.841C1553.879 1153.5529999999999 1665.57 1122.575 1757.609 1054.21 1845.991 988.5609999999999 1899.436 890.848 1945.924 791.048 1992.721 690.5840000000001 2024.613 586.382 2027.141 475.582 2030.038 348.615 2057.956 190.735 1961.5059999999999 108.113 1862.263 23.097999999999956 1707.9279999999999 102.72699999999998 1577.808 90.66699999999997 1478.797 81.49000000000001 1387.495 32.05200000000002 1289.013 45.78499999999997 1180.402 60.93099999999998 1071.098 95.75799999999998 992.549 172.281 910.86 251.863 863.14 361.852 848.481 474.952 833.937 587.1610000000001 874.819 694.3820000000001 910.982 801.595 951.126 920.61 967.5319999999999 1062.978 1070.893 1134.341 1174.634 1205.966 1314.785 1181.452 1440 1166.841' fill='%237a2b9d'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1001'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  }
}





@media screen and (max-width: 960px) {

  .cover-container-background{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1001%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(102%2c 36%2c 131%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c675.637C125.178%2c665.582%2c237.468%2c600.681%2c335.98%2c522.796C427.724%2c450.262%2c514.112%2c361.035%2c541.68%2c247.377C567.534%2c140.789%2c486.469%2c40.515%2c479.51%2c-68.943C471.663%2c-192.365%2c579.222%2c-338.259%2c498.491%2c-431.945C417.833%2c-525.546%2c256.001%2c-433.336%2c136.964%2c-466.456C20.595%2c-498.834%2c-62.174%2c-632.391%2c-182.463%2c-621.41C-304.33%2c-610.285%2c-418.06%2c-519.549%2c-473.959%2c-410.688C-527.359%2c-306.695%2c-454.72%2c-183.402%2c-467.069%2c-67.154C-478.743%2c42.738%2c-559.954%2c139.077%2c-543.977%2c248.426C-525.63%2c373.998%2c-472.36%2c501.325%2c-372.555%2c579.707C-269.618%2c660.549%2c-130.467%2c686.116%2c0%2c675.637' fill='%23521d69'%3e%3c/path%3e%3cpath d='M1440 1166.841C1553.879 1153.5529999999999 1665.57 1122.575 1757.609 1054.21 1845.991 988.5609999999999 1899.436 890.848 1945.924 791.048 1992.721 690.5840000000001 2024.613 586.382 2027.141 475.582 2030.038 348.615 2057.956 190.735 1961.5059999999999 108.113 1862.263 23.097999999999956 1707.9279999999999 102.72699999999998 1577.808 90.66699999999997 1478.797 81.49000000000001 1387.495 32.05200000000002 1289.013 45.78499999999997 1180.402 60.93099999999998 1071.098 95.75799999999998 992.549 172.281 910.86 251.863 863.14 361.852 848.481 474.952 833.937 587.1610000000001 874.819 694.3820000000001 910.982 801.595 951.126 920.61 967.5319999999999 1062.978 1070.893 1134.341 1174.634 1205.966 1314.785 1181.452 1440 1166.841' fill='%237a2b9d'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1001'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  }

   .cover-container{
    flex-direction: column-reverse;
    
   }

   .slogan-cover {
    font-size: 44.8px !important;
   }

   .sign-up-cover {
    width: 200px;
    height: 50px;
    font-size: 20px;
   }

   .spline-cover-one {
    width: 500px;
    height: 500px;
   }

   .sign-up-cover{
    margin-top: 20px;
   }

   .spline-cover-one{
    height: 400px;
   }
   
}

@media screen and (max-width: 768px) {
  .cover-container-background{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1001%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(102%2c 36%2c 131%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c675.637C125.178%2c665.582%2c237.468%2c600.681%2c335.98%2c522.796C427.724%2c450.262%2c514.112%2c361.035%2c541.68%2c247.377C567.534%2c140.789%2c486.469%2c40.515%2c479.51%2c-68.943C471.663%2c-192.365%2c579.222%2c-338.259%2c498.491%2c-431.945C417.833%2c-525.546%2c256.001%2c-433.336%2c136.964%2c-466.456C20.595%2c-498.834%2c-62.174%2c-632.391%2c-182.463%2c-621.41C-304.33%2c-610.285%2c-418.06%2c-519.549%2c-473.959%2c-410.688C-527.359%2c-306.695%2c-454.72%2c-183.402%2c-467.069%2c-67.154C-478.743%2c42.738%2c-559.954%2c139.077%2c-543.977%2c248.426C-525.63%2c373.998%2c-472.36%2c501.325%2c-372.555%2c579.707C-269.618%2c660.549%2c-130.467%2c686.116%2c0%2c675.637' fill='%23521d69'%3e%3c/path%3e%3cpath d='M1440 1166.841C1553.879 1153.5529999999999 1665.57 1122.575 1757.609 1054.21 1845.991 988.5609999999999 1899.436 890.848 1945.924 791.048 1992.721 690.5840000000001 2024.613 586.382 2027.141 475.582 2030.038 348.615 2057.956 190.735 1961.5059999999999 108.113 1862.263 23.097999999999956 1707.9279999999999 102.72699999999998 1577.808 90.66699999999997 1478.797 81.49000000000001 1387.495 32.05200000000002 1289.013 45.78499999999997 1180.402 60.93099999999998 1071.098 95.75799999999998 992.549 172.281 910.86 251.863 863.14 361.852 848.481 474.952 833.937 587.1610000000001 874.819 694.3820000000001 910.982 801.595 951.126 920.61 967.5319999999999 1062.978 1070.893 1134.341 1174.634 1205.966 1314.785 1181.452 1440 1166.841' fill='%237a2b9d'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1001'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  }

  .spline-cover-one{
    max-height: 560px;
  }
}

@media screen and  (max-width: 520px) {
  .spline-cover-one{
    max-height: 450px;
  }

  .image-cover{
    width: 500px;
    height: 400px;
  }

  .sign-up-cover{
    margin-top: 5px;
  }
}

@media screen and (max-width: 480px) {
  .cover-container-background{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1001%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(102%2c 36%2c 131%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c675.637C125.178%2c665.582%2c237.468%2c600.681%2c335.98%2c522.796C427.724%2c450.262%2c514.112%2c361.035%2c541.68%2c247.377C567.534%2c140.789%2c486.469%2c40.515%2c479.51%2c-68.943C471.663%2c-192.365%2c579.222%2c-338.259%2c498.491%2c-431.945C417.833%2c-525.546%2c256.001%2c-433.336%2c136.964%2c-466.456C20.595%2c-498.834%2c-62.174%2c-632.391%2c-182.463%2c-621.41C-304.33%2c-610.285%2c-418.06%2c-519.549%2c-473.959%2c-410.688C-527.359%2c-306.695%2c-454.72%2c-183.402%2c-467.069%2c-67.154C-478.743%2c42.738%2c-559.954%2c139.077%2c-543.977%2c248.426C-525.63%2c373.998%2c-472.36%2c501.325%2c-372.555%2c579.707C-269.618%2c660.549%2c-130.467%2c686.116%2c0%2c675.637' fill='%23521d69'%3e%3c/path%3e%3cpath d='M1440 1166.841C1553.879 1153.5529999999999 1665.57 1122.575 1757.609 1054.21 1845.991 988.5609999999999 1899.436 890.848 1945.924 791.048 1992.721 690.5840000000001 2024.613 586.382 2027.141 475.582 2030.038 348.615 2057.956 190.735 1961.5059999999999 108.113 1862.263 23.097999999999956 1707.9279999999999 102.72699999999998 1577.808 90.66699999999997 1478.797 81.49000000000001 1387.495 32.05200000000002 1289.013 45.78499999999997 1180.402 60.93099999999998 1071.098 95.75799999999998 992.549 172.281 910.86 251.863 863.14 361.852 848.481 474.952 833.937 587.1610000000001 874.819 694.3820000000001 910.982 801.595 951.126 920.61 967.5319999999999 1062.978 1070.893 1134.341 1174.634 1205.966 1314.785 1181.452 1440 1166.841' fill='%237a2b9d'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1001'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  }

  .image-cover{
    width: 100%;
    height: 100%;
  }

  .spline-cover-one{
    max-width: 400px; 
    max-height: 400px;
  }
}


