.main-functions-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: relative;
  margin-top: 20px;
}

.subtitle-functions {
  text-align: center;
  font-family: var(--font-family-title);
  font-size: 52px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  background: var(--background-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 40px;
}

.main-functions-section {
  width: 100%;
  height: calc(100vh - 60px - 80px);
  overflow: hidden;
}

.left-button-m-f,
.right-button-m-f {
  width: 60px;
  height: 60px;
  background: var(--background-gradient);
  color: #fff;
  font-size: 32px;
  border: none;
  border-radius: 50%;
  display: grid;
  place-items: center;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 100;
}

.left-button-m-f {
  left: 40px;
}

.right-button-m-f {
  right: 40px;
}

.left-button-m-f.disable-button-m-f,
.right-button-m-f.disable-button-m-f {
  display: none;
}

@media (max-width: 600px) {
  .subtitle-functions {
    font-size: 32px;
    margin-bottom: 0;
  }

  .left-button-m-f,
  .right-button-m-f {
    width: 40px;
    height: 40px;
    font-size: 24px;
  }

  .left-button-m-f {
    left: 20px;
  }

  .right-button-m-f {
    right: 20px;
  }
}

@media (max-width: 440px) {
  .main-functions-container {
    margin-top: 0;
  }

  .subtitle-functions {
    font-size: 24px;
  }
}